<script type="text/javascript">var pagename= "index.html";</script>
    <header>
            <p id="maininfo">How do you want to Authenticate</p>
            <p>(select your options using designated character)</p>
        </header>
        <div id="container">
            <section id="left-section">
                <div class="impent">
                    <p>A: Fingerprint</p>
                    <p>B: PIN</p>
                    <p>C: Keycard</p>
                </div>
                <div id="optsel">
                    <p>Option Selected:<span></span> </p>
                </div>
            </section>
            <aside id="right-section">
                <div id="righthead">
                    <p>Additonal choices</p>
                </div>
                <section id="addchoice">
                    <p class="choice"><span>'#'-Enroll Fingerprint</span><br> <br>(Secure code must be provided to enable enrollment of new fingerprint.)</p>
                    <p class="choice"><span>'*x5' -Command mode</span><br> <br>(The '*' character must be pressed 5 times to enter the command mode. The command mode is used to imput codes for specific system operations)</p>
                    <p class="choice"><span>'D'- Arm/Disarm Alarm stystem</span><br> <br>(This is used to turn on or off the alarm system - Secure code is required for this operation )</p>

                </section>
            </aside>
        </div>
